In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
# Apply the default theme
sns.set_theme()

In [5]:
#Load quarterly data
df = pd.read_csv("data/gun_control_results_by_qtr.csv")
df.head(5)

,Unnamed: 0,year_and_quarter,state,value,qtr,Gun Law Strength (Ranked),State,Grade,Gun Death Rate (Ranked),Gun Death Rate (per 100K)
0,0,2020 Q1,Alaska,22.4,2020-03-31,41.0,Alaska,E,6.0,25.2
1,1,2020 Q2,Alaska,20.8,2020-06-30,41.0,Alaska,E,6.0,25.2
2,2,2020 Q3,Alaska,26.8,2020-09-30,41.0,Alaska,E,6.0,25.2
3,3,2020 Q4,Alaska,25.7,2020-12-31,41.0,Alaska,E,6.0,25.2
4,4,2021 Q1,Alaska,19.1,2021-03-31,41.0,Alaska,E,6.0,25.2